BACKEND_IMAGE=ghcr.io/curdyip-source/nn_chat-backend
FRONTEND_IMAGE=ghcr.io/curdyip-source/nn_chat-frontend
RELEASE_TAG=latest
POSTGRES_CONTAINER_NAME=nufnaf_db

POSTGRES_USER=nufnaf_admin_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=nufnaf_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

BACKEND_PORT=32069
FRONTEND_PORT=25256

APP_ENV=production
CORS_ALLOW_ORIGINS=https://chat.nufnafchat.su
INSECURE_ALLOW_HTTP_ORIGINS=false

ACCESS_TOKEN_TTL_MINUTES=30
SESSION_TTL_DAYS=30
REFRESH_TOKEN_TTL_DAYS=30
AUTH_TOKEN_SECRET=CHANGE_ME_LONG_RANDOM_SECRET_WITH_32_CHARS_MINIMUM

FIRST_ADMIN_PASS=replace-with-first-admin-pass

SENTRY_DSN=
SENTRY_ENVIRONMENT=production
SENTRY_TRACES_SAMPLE_RATE=0

PROFILE_PHOTO_MAX_BYTES=5242880

APNS_AUTH_KEY_P8=/home/dev/nn_chat/secrets/AuthKey_RLV35R5LP5.p8
APNS_KEY_ID=RLV35R5LP5
APNS_TEAM_ID=89CV94WHUK
APNS_TOPIC=com.NufNaf.Vorobev
APNS_USE_SANDBOX=false